body {
    background-color:#1f1f1f;
    color: #cccccc;
    font-family: sans-serif;
    user-select: none; /* To prevent highlighting text while shuffling */
    overscroll-behavior-y: none;
    max-width: 1200px;
}

html {
    overscroll-behavior-y: none;
}

h1 {
    font-size: larger;
    color: #f7f7f7;
    text-align: center;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    user-select: none;
}

p {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    line-height: 1.5;
}

#briefing {
    user-select: none;
}

h2, a {
    color: #f7f7f7;
    text-align: center;
    position: relative;
    z-index: 2;
    margin: .5vw;
}

#reversed {
    text-align: center;
}

#pulled {
    margin-top: 10px;
    min-height: 165px;
}

#shuffled {
    width: calc(100% - 85px); /* To compensate for negative margin */
    display: none;
}

.card {
    cursor: pointer;
    background-size: contain;
    background-color:firebrick;
    vertical-align: text-top;
    display: inline-block;
    height: 145px;
    width: 85px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 5px -80px 5px 5px; /* negative margin to stack the cards */
    font-size: 12px;
}

#backdrop {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 65%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    display: none;
}

#picked {
    display: none;
    position: relative;
    width: 350px;
    height: 600px;
    max-width: 80vw;
    max-height: 80vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}
  
#icon {
    width: 50vw;
    max-width: max-content;
    max-height: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    pointer-events: none;
}
